[run]
omit =
    scripts/publish_gh_release_notes.py
    */windows_toasts.py

[report]
exclude_lines =
    pragma: no cover
    except ImportError:
    if TYPE_CHECKING:
    if __name__ == .__main__.: